
/*global effect*/
* {
    box-sizing: border-box;
  }

  
/* hero styling */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/NEED IMAGE.jpg");
  background-size: cover;
  background-position: center;
}
  
  /*applies arial font to text in body of linked html doc*/
  body {
    font-family: Arial;
    margin: 0;
  }
  
  /*applies 40 pixels of space around objects, centers the text, and colors the background blue*/
  header {
    padding: 40px;
    text-align: center;
    background: #13293d;
    color: rgb(24, 7, 7);
  }
  
  /* 
  What happens when we set the display property to flex? 
  TODO: Displays the targeted element as a block-level flex container
  */
  nav {
    display: flex;
    background-color: #793200;
  }
  
  nav a {
    color: #3c0064;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  /* 
  What is the flex-wrap property? 
  TODO: The flex-wrap property allows elements to show on the page without having to scroll horizontally 
  */
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  aside {
    flex: 1;
    background-color: #887575;
    padding: 80px;
    text-align: center;
  }
  
  
  footer {
    padding: 20px;
    text-align: center;
    background: #793200;
    color: #fff;
  }
  
  /* 
  What does the justify-content property do? 
  TODO: Aligns the content of the element to the specified alingment  
  */
  .products {
    flex: 4;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* 
  What is the flex property a shorthand property for?
  What is it doing here? 
  TODO:  The flex property is shorthand for setting flex items to either get bigger or smaller to fit the flex container on the screen.
  Here the property is giving the flexbox an area of 400px*/
  .card {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
  }
  
  .card header {
    padding: 20px;
  }
  
  .card p {
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }
  
  /* 
  What does the flex-direction property define?
  What is it doing here? 
  TODO: THe flex-direction property defines the direction that the boxes align. Here the flex box is organizinng the boxrs in a column.
  */
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
  